@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  color: white;
  background: linear-gradient(
      90deg,
      #0668c2 0%,
      #1c0168 100%,
      rgba(68, 12, 158, 0) 100%
    ),
    #c4c4c4;
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 20px 0;
}

html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  font-weight: 400;
}

p {
  margin: 0 0 10px;
}

.svg-icon {
  height: 5rem;
  width: 5rem;
}

.svg-icon-small {
  height: 3rem;
}

.weather-app-root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.weather-app {
  padding: 25px 35px;
  max-width: 900px;
  width: 100%;
}

/* Header*/

header {
  display: flex;
}

.header-icon-wrap {
  flex: 0 0 auto;
  font-size: 117px;
  color: white;
  padding-right: 25px;
}

.header-content-wrap {
  flex: 1 0 auto;
}

.header-location {
  font-size: 25px;
  line-height: 29px;
  margin: 0 0 1px;
}

.header-temp {
  font-size: 20px;
  line-height: 23px;
  margin: 0 0 5px;
}

header p {
  margin: 0 0 5px;
}

/*Body */

.weather-app-body {
  padding-top: 25px;
  justify-content: center;
  align-items: center;
}

.day-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.days-temp {
  margin: 2rem;
  justify-content: space-around;
  align-items: center;
}

.days-temp .temp-max {
  color: #ff0102;
}

.days-temp .temp-min {
  color: #00feff;
}

@media (max-width: 600px) {
  header .header-icon-wrap {
    font-size: 5rem;
  }

  header .header-content-wrap .header-location {
    font-size: 20px;
    margin: 0 0 4px;
  }

  .weather-app {
    padding: 25px 35px;
    max-width: 900px;
    width: 100%;
  }

  .weather-app-body {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
  }

  .day-name {
    margin: 0;
    flex: 0 0 100px;
    text-align: left;
    padding-right: 20px;
  }

  .days-temp {
    display: flex;
    flex-direction: column;
  }

  .days-temp span {
    margin: 8px;
    flex-grow: 1;
    text-align: right;
    font-size: 13px;
  }
}
